@import "../../scss/utils/mixin";
@import "../../scss/utils/variables";

.requestSection {
  background-color: #f4f4f4;
  @include mq(tablet) {
    display: flex;
    margin-bottom: 40px;
  }
  @include mq(desktop) {
    margin-bottom: 0;
  }
}
.img {
  @include mq(tablet) {
    width: 368px;
    height: 354px;
    object-fit: cover;
  }
  @include mq(desktop) {
    width: 670px;
    height: auto;
  }
}
