@import "../../scss//utils//variables";
@import "../../scss//utils/mixin";
.formWrapper {
  padding: 51px 20px 25px;
  @include mq(tablet) {
    padding: 32px;
  }
  @include mq(desktop) {
    padding: 56px 20px 77px;
  }
}
.heading {
  color: var(--secondary-txt-cl);
  @include fonts(32px, 400, 1.5);
  margin-bottom: 60px;
  @include mq(tablet) {
    @include fonts(40px, 400, 1.35);
    text-align: left;
    margin-bottom: 24px;
  }
}
.form {
  @include mq(tablet) {
    text-align: left;
  }
}

.groupInput {
  position: relative;
  &:first-child {
    margin-bottom: 20px;
    @include mq(desktop) {
      margin-bottom: 26px;
    }
  }
}
.label {
  color: #808080;
  position: absolute;
  left: 6px;
  top: 11px;
  transition: all 0.2s ease-out;
  @include fonts(16px, 400, 1.4);
  @include mq(tablet) {
    @include fonts(18px, 400, 1.38);
  }
}

.input {
  width: 280px;
  padding: 16px 8px;
  background-color: #ffffff;
  outline: transparent;
  border: transparent;
  border-radius: 5px;
  display: block;
  @include mq(tablet) {
    width: 336px;
  }
  @include mq(desktop) {
    width: 642px;
  }
  &::placeholder {
    color: transparent;
  }
}

.btn {
  display: block;
  color: #fff;
  background-color: var(--accent-cl);
  padding: 16px 56px;
  @include fonts(18px, 400, 1.33);
  border-radius: 5px;
  border-color: transparent;
  margin-top: 24px;

  &:hover,
  &:focus {
    background-color: var(--accent-cl-active);
    cursor: pointer;
  }
}
.warming {
  padding-top: 5px;
  color: #eb5757;
}
.iconWarning {
  padding-top: 3px;
  padding-right: 3px;
}

.input:focus ~ .label,
.input:not(:placeholder-shown) ~ .label {
  transform: translate(0, -30px);
  @include fonts(14px, 400, 1.2);
}
