@import "../../scss/utils/mixin";
@import "../../scss/utils/variables";

.logoWrapper {
  display: flex;
  @include mq(tablet) {
    align-items: center;
  }
}
.logoText {
  transition: all 300ms ease-in-out;
  @include fonts(28px, 400,1.35);

  @include mq(tablet) {
    @include fonts(35px,400, 1.37);
  }
  &:hover,
  &:focus {
    cursor: pointer;
    text-shadow: 0 4px 4px 0px rgba(0, 0, 0, 0.25);
    transform: scale(1.1);
  }
}
.logoSpan {
  @extend .logoText;
  color: var(--accent-cl);
  padding: 0 8px;
  &:hover,
  &:focus {
    color: var(--accent-cl-active);
  }
}
