@import "../../scss/utils/mixin";
@import "../../scss/utils/variables";

.logoWrapper {
  transition: all 300ms ease-in-out;
  display: flex;
  padding-left: 24px;
  transition: all 0.3s ease-out;
  cursor: pointer;
  @include mq(tablet) {
    align-items: center;
    padding-left: 0;
  }
  &:hover,
  &:focus {
    cursor: pointer;
    transform: scale(1.1);
    fill: var(--accent-cl-active);
  }
}
.logo {
  fill: var(--accent-cl);
}
.logoText {
  @include fonts(28px, 400, 1.35);
  @include mq(tablet) {
    @include fonts(35px, 400, 1.37);
  }
}
.logoSpan {
  @extend .logoText;
  color: var(--accent-cl);
  margin: 0 8px;
  transition: color 0.3s ease-out;
  &:hover,
  &:focus {
    color: var(--accent-cl-active);
  }
}
