@import "../../scss/utils/variables";
@import "../../scss//utils/mixin";
.businessCasesSection {
  padding: 56px 20px 40px;
  @include mq(tablet) {
    padding: 48px 32px 40px;
  }
  @include mq(desktop) {
    padding: 80px 28px 80px;
  }
}
.textWrapper {
  padding-bottom: 31px;
  text-align: center;
  @include mq(tablet) {
    padding-bottom: 30px;
  }
}
.text {
  @include fonts(16px, 400, 1.37);
  color: var(--secondary-txt-cl);
  @include mq(tablet) {
    @include fonts(18px, 400, 1.38);
  }
}
.heading {
  @include fonts(32px, 400, 1.37);
  color: var(--secondary-txt-cl);
  width: 219px;
  margin: 16px auto 24px;
  @include mq(tablet) {
    width: 100%;
    @include fonts(40px, 400, 1.35);
  }
}
.textInfo {
  @extend .text;
  width: 219px;
  margin-right: auto;
  margin-left: auto;
  @include mq(tablet) {
    width: 100%;
    @include fonts(18px, 400, 1.38);
  }
}
.list {
  display: grid;
  place-items: center;
  @include mq(tablet) {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 18px;
  }
  @include mq(desktop) {
    grid-template-columns: repeat(3, 1fr);
    row-gap: 24px;
    column-gap: 20px;
  }
}
.btn {
  border: none;
  padding: 0;
  margin: 0;
  transition: box-shadow 0.3s ease-out;
  cursor: pointer;
  &:hover,
  &:focus {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  }
}
.listItem:not(:last-child) {
  padding-bottom: 8px;
  @include mq(tablet) {
    padding-bottom: 0;
  }
}
.img {
  @include mq(desktop) {
    width: 421px;
  }
}
.lightboxBtn {
  background-color: transparent;
  border: transparent;
  z-index: 100;
}
.btnRL {
  fill: rgba(255, 255, 255, 1);
  transition: fill 0.3s ease-out;
   cursor: pointer;
    &:hover,
    &:focus{
    fill:rgba(255, 255, 255, 0.5);

  }
}
