@import "../../scss/utils/variables";
@import "../../scss//utils/mixin";
.blogSection {
  background-color: var(--second-bg);
  @include mq(tablet) {
    display: grid;
    grid-template-columns: auto 400px;
    direction: rtl;
  }
  @include mq(desktop) {
    display: grid;
    grid-template-columns: auto 690px;
  }
}
.img {
  @include mq(tablet) {
    display: flex;
    height: auto;
  }
}

.textWrapper {
  padding: 48px 20px 58px;
  text-align: left;
  @include mq(tablet) {
    padding: 59px 32px;
  }
  @include mq(desktop) {
    padding: 80px 20px 80px 28px;
  }
}
.text {
  @include fonts(16px, 400, 1.37);
  @include mq(tablet) {
    @include fonts(18px, 400, 1.37);
  }
}
.heading {
  @include fonts(32px, 400, 1.37);
  margin-top: 16px;
  @include mq(tablet) {
    @include fonts(40px, 400, 1.34);
  }
}
.info {
  @include fonts(16px, 400, 1.37);
  margin-top: 24px;
  @include mq(tablet) {
    @include fonts(18px, 400, 1.38);
  }
}
.btn {
  @include fonts(16px, 400, 1.31);
  display: inline-block;
  border-radius: 5px;
  border: 1px solid #fff;
  color: #fff;
  padding: 16px 32px;
  background-color: transparent;
  margin-top: 24px;
  box-shadow: var(--main-shadow);
  transition: all 0.3s ease-out;
  @include mq(tablet) {
    @include fonts(18px, 400, 1.38);
  }
  &:hover,
  &:focus {
    color: #0284d0;
    background-color: #f4f4f4;
    cursor: pointer;
  }
}
