@import "../../scss/utils/mixin";
@import "../../scss/utils/variables";
.teamSection {
  padding: 56px 20px 40px;
  @include mq(table) {
    padding: 48px 32px 40px;
  }
  @include mq(desktop) {
    padding: 80px 28px;
  }
}
.textWrapper {
  padding-bottom: 31px;
  text-align: center;
}
.text {
  @include fonts(16px, 400 1.37);
  color: var(--secondary-txt-cl);
  @include mq(table) {
    @include fonts(20px, 400, 1.6);
  }
  @include mq(desktop) {
    @include fonts(20px, 400, 1.35);
  }
}
.heading {
  @include fonts(32px, 400, 1.37);
  color: var(--secondary-txt-cl);
  width: 280px;
  margin: 16px auto 24px;
  @include mq(table) {
    @include fonts(40px, 400, 1.35);
  }
}
.textInfo {
  @extend .text;
  width: 219px;
  margin-right: auto;
  margin-left: auto;
  @include mq(table) {
    @include fonts(18px, 400, 1.38);
  }
}
.list {
  display: grid;
  place-items: center;
  @include mq(tablet) {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 18px;
    @include mq(desktop) {
      grid-gap: 20px;
    }
  }
}
.listItem:not(:first-child) {
  padding-top: 30px;
  @include mq(tablet) {
    padding-top: 0;
  }
}
.img {
  max-width: 280px;
  @include mq(tablet) {
    max-width: 223px;
  }
  @include mq(desktop) {
    max-width: 420px;
  }
}
.caption {
  @include fonts(20px, 400, 1.35);
  color: var(--secondary-txt-cl);
  padding-top: 16px;
  text-align: center;
  @include mq(tablet) {
    @include fonts(32px, 400, 1);
  }
}
.title {
  @include fonts(16px, 400, 1.16);
  color: var(--secondary-txt-cl);
  padding-top: 8px;
  text-align: center;
  @include mq(tablet) {
    @include fonts(18px, 400, 1.38);
  }
}
